<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bootstrap Order Details Table with Search Filter</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
    </script>
    </head>
<body>
    
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-4">
						<h2>Retailer <b>Details</b></h2>
					</div>
					
                </div>
            </div>
			<div class="table-filter">
				<div class="row">
                    <div class="col-sm-9">
						
						
						
						
                    </div>
                </div>
			</div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Retailer's Id</th>
                        <th>Retailer's Name</th>
        
						<th>Retailer's Email</th>
						<th>Notification to Verify</th>						
                        <th>Delete</th>					
						
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="#" >1</a></td>
                        <td>Nike.retail limited</td>
                        <td>nikeindia@gmail.com</td>
                        <td><input type="button" value="Verify" class/></td>    
                        <td><input type="button" value="Delete" class/></td>                      
						</tr>
					<tr>
                        <td><a href="#" >2</a></td>
                        <td>Gucci pvt limited</td>
			
						<td>gucciindia@gmail.com</td>
                        <td><input type="button" value="Verify" class/></td>                        
						<td><input type="button" value="Delete" class/></td>
					  </tr>
					<tr>
                        <td><a href="#" >3</a></td>
                        <td>Fastrack pvt limited</td>
                        <td>fastrackindia@gmail.com</td>
                        <td><input type="button" value="Verify" class/></td>                        
						<td><input type="button" value="Delete" class/></td>
						 </tr>
					<tr>
                        <td><a href="#" >4</a></td>
                        <td>Roadstar retail ltd</td>
			
						<td>roadstarindia@gmail.com</td>
                        <td><input type="button" value="Verify" class/></td>                        
						<td><input type="button" value="Delete" class/></td>
                    </tr>
					<tr>
                        <td><a href="#" >5</a></td>
                        <td>Ray-ban pvt ltd</td>
			
						<td>raybanindia@gmail.com</td>
                        <td><input type="button" value="Verify" class/></td>                        
						<td><input type="button" value="Delete" class/></td>
						</tr>
                </tbody>
            </table>
			<div class="clearfix">
                <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                <ul class="pagination">
                    <li class="page-item disabled"><a href="#">Previous</a></li>
                    <li class="page-item"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item"><a href="#" class="page-link">3</a></li>
                    <li class="page-item active"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
					<li class="page-item"><a href="#" class="page-link">6</a></li>
					<li class="page-item"><a href="#" class="page-link">7</a></li>
                    <li class="page-item"><a href="#" class="page-link">Next</a></li>
                </ul>
            </div>
        </div>
    </div>     
</body>
</html>