<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
 <!-- Shop Section Begin -->
 <section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    <div class="shop__sidebar__search">
                        <form (ngSubmit)="searchProduct(name)">
                            <input type="text" name="search"  placeholder="Search..." [(ngModel)]="name">
                            <button type="submit"><span class="fa fa-search"></span></button>
                        </form>
                    </div>
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordionExample" >
                                    <div class="card-body" >
                                        <div class="shop__sidebar__categories" >
                                            <ul class="nice-scroll" >
                                                <li *ngFor="let ctgry of list1"><a href="#" [routerLink]="['/products']" (click)="searchProductByCategory(ctgry.categoryname)">{{ctgry.categoryname}}</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseTwo">Brands</a>
                                </div>
                                <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__brand">
                                            <ul>
                                                <li *ngFor="let prdct of list2"><a href="#" [routerLink]="['/products']" (click)="searchProductByBrand(prdct)" >{{prdct}}</a></li>      
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                           
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseSix">Tags</a>
                                </div>
                                <div id="collapseSix" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__tags">
                                            <a href="#">Product</a>
                                            <a href="#">Bags</a>
                                            <a href="#">Shoes</a>
                                            <a href="#">Fashio</a>
                                            <a href="#">Clothing</a>
                                            <a href="#">Hats</a>
                                            <a href="#">Accessories</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="shop__product__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                           
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__right">
                                <p>Sort by Price:</p>
                                <select>
                                    <option value="" (click)="sort()">Low To High</option>
                                    <option value="" (click)="sorthigh()">High To Low </option>
                                    
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                
                <div *ngIf="!list || list.length === 0">
                    <p>No Products Found For Your Search!</p>
                </div>
               <div *ngIf="list.length || list.length.length > 0">
                <div class="row" > 
                    <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let prdct of list">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" [style.background]="'url('+prdct.imageid+')'" >
                                <ul class="product__hover">
                                    <li><a ><img src="assets/img/icon/heart.png" (click)="addProducttoWishlist(prdct.productid)" alt=""></a></li>
                                    
                                    <li><a ><img src="assets/img/icon/cart.png"  (click)="addProducttoCart(prdct.productid)" alt=""></a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6>{{prdct.name}}</h6>
                                <h6>{{prdct.brand}}</h6>
                                <a href="#" class="add-cart" >+ Product Details</a>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                     <span> - 5 Reviews</span>
                                </div>
                                <h5>{{prdct.price}}</h5>
                                
                            </div>
                        </div>
                    </div>
                  </div>
                </div>




                <div class="row">
                    <div class="col-lg-12">
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->
</body>

</html>